.Linktree2 {
    min-height: 100vh;
    width: 100%;
}

.containeer {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.leftsect {
    background: #000;
    flex: 1;
}
.rightsect {
    background: #fff;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name {
    display: flex;
    flex-direction: column;
}
.trrHedName {
    margin-left: 60px;
}
.exc {
    color: red;
}
.image {
    padding: 0px;
    margin: 0px;
}
.image img {
    padding: 0px;
    margin: 0px;
    width: 150px;
    aspect-ratio: 1 / 1;
}
.detailSec {
    text-align: center;
    padding: 18px;
    font-family: sans-serif;
}