.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to top right,yellow,pink,violet);
}

.homePage h1 {
    text-align: center;
    margin: 8px;
    padding: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}
.homePage h2 {
    padding: 8px;
    margin-top: 28px;
}
.link {
    position: relative;
    text-decoration: none;
    margin: 18px;
    padding: 14px;
    color: white;
    background: blue;
    border-radius: 9px;
    font-weight: 600;
    margin-bottom: 60px;
}
.link:hover {
    color: blue;
    background: white;
}
.LogOut {
    border: none;
    outline: 0;
    color: white;
    background: red;
    border-radius: 8px;
    padding: 12px;
    width: 110px;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 14px;
    font-weight: 600;
}
.LogOut:hover {
    color: red;
    background: white;
}

.domainname {
    position: relative;
    border-radius: 60px;
    display: flex;
    align-items: center;
    margin: 0px;
    background: white;
    width: min-content;
    min-height: 50px;
    text-align: center;
}
.domainname span {
    padding: 1px;
    padding-left: 20px;
}
.domain {
    padding: 1px;
    border: dotted 0.5px;
    outline: none;
    font-size: 18px;
}
.savedom {
    height: 50px;
    padding: 8px;
    border: none;
    margin-left: 20px;
    width: 100px;
    font-weight: 600;
    color: white;
    font-size: 14px;
    background: blue;
}
.savedom:hover {
    color: blue;
    background: white;
}
.guyde {
    color: gray;
}