.loginPage {
    padding: 0px;
    margin: 0px;
    background: wheat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginCard {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    background: rgba(255, 255, 255, 0.431);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    min-height: 330px;
}

