.loginPage {
    padding: 0px;
    margin: 0px;
    background: wheat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginCard {
    text-align: center;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    background: rgba(255, 255, 255, 0.431);
    box-shadow: 0 8px 32px 0 rgba(51, 57, 134, 0.219);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    min-height: 330px;
    max-width: 550px;
    z-index: 8;
}
.loginHeading {
    padding: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loginDetail {
    font-size: 16px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: gray;
}

.loginOption {
    aspect-ratio: 1 / 1;
    height: 200px;
    text-align: center;
    overflow: hidden;
}
.loginOption img {
    cursor: pointer;
    height: 98%;
    aspect-ratio: 1/1;
    padding: 40px;
}
.loginOption img:hover {
    transform: rotate(360deg);
}

.box ,
.circle {
    position: absolute;
    min-width: 40px;
    background: rgba(255, 255, 255, 0.431);
    box-shadow: 0 4px 24px 0 rgba(42, 47, 110, 0.192);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    aspect-ratio: 1/1;
}
.box {
    border-radius: 4px;
}
.circle {
    top: 0;
    right: 0;
    border-radius: 50%;
}
.box1 {
    top: 18%;
    left: 40%;
    width: 120px;
}
.box2 {
    top: 80%;
    left: 60%;
    width: 50px;
}
.circle1 {
    top: 38%;
    right: 8%;
    width: 80px;
}
.circle2 {
    top: 72%;
    right: 60%;
    width: 120px;
    z-index: 9;
}